@import 'util';

html, body {
    margin: 0;
    padding: 0;
    color: $fg;
    background-color: $bg;
    font: 13pt sans-serif;
}

header {
    background-color: #000;
    padding: 1em;
    margin-bottom: 1em;
}

header img {
    width: 300px;
}

main {
    padding: 0 1em;
    margin: 0 auto;
    max-width: 800px;
}

input[type='text'], input[type='password'] {
    background-color: $bg1;
    border: 1px solid $bg2;
    border-radius: 0.5em;
}

input[type='submit'], button {
    color: theme(0);
    background-color: theme(5);
    border: 1px solid theme(6);
    border-radius: 0.5em;
    padding: 0.5em 1em;
    cursor: pointer;
}

input[type='submit']:hover, button:hover {
    background-color: theme(6);
    border-color: theme(7);
}

div.forminput {
    margin: 0.5em 0;
}

div.forminput > label {
    font-size: 11pt;
    color: $fg1;
    display: block;
}
